<ion-content>
  <div class="account">
    <div class="imadiv">
      <ion-img src="../assets/images/account/account.jpg"></ion-img>
    </div>
  </div>
  <ion-text color="medium">
    <h1>User Account</h1>
  </ion-text>
  <div class="opt">
    <div class="container">
      <ion-card>
        <ion-item>
          <label>Cerrar sesión</label>
          <ion-icon slot="end" name="chevron-forward-outline" size="large"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
    <div class="container">
      <ion-card>
        <ion-item>
          <label class="bt">Mis recetas</label>
          <ion-icon slot="end" name="chevron-forward-outline" size="small"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <label class="bt">Cambio de contraseña</label>
          <ion-icon slot="end" name="chevron-forward-outline" size="small"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <label class="bt">Ayuda</label>
          <ion-icon slot="end" name="chevron-forward-outline" size="small"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>